@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #333;
}

html, body{
    height: auto;
    min-height: 100vh;
}

html{
    background-color:#2ab7ca ; 
}

.conteiner{
    max-width: 600px;
    min-height: 80vh;
    margin: 2rem auto;
    display: flex;
    background-color: #F4F4F8; 
    border-radius: 5px; 
}

.form{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

.form h1{
    font-size: 3rem;
}

.gera_senha{
    border: 1px solid #2AB7CA;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
    padding-top: 0.5rem;
    color: #333;
    margin-bottom: 1rem;
    display: none;
}

.form p{
    margin-bottom: 1.5rem;
}

.form-control{
    margin: 0.8rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-control i{
    position: absolute;
    bottom: 20px;
    left: 345px;
    visibility: hidden;
}

.form-control small{
    visibility: hidden;
}

input :focus{
    outline: none;
}

.form label{
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form input{
    border: none;
    border-bottom:1px solid #E6E6EA;
    background-color: #F4F4F8;
    padding: 0.6rem 0;
    width: 100%;
}

.mensagem{
    display: flex;

}

#gerarNovaSenha{
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#gerarNovaSenha:hover{
    color: #FE4A49;
}

.btn{
    background-color: #FE4A49;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    color: #E6E6EA;
    font-weight: bold;
    transition: 0.3s;
    margin: 0 auto;
    opacity: 0.8;
    cursor: pointer;
}

.btn:hover{
    background-color: #FE4A49;
    opacity: 1;
}

/* Erro e Sucesso*/

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}
